
body {
  background-color: #202020;
}
h1 {
  font-size: 35px;
  border: 1px double #ffffff;
  text-align: center;
  color: #6666aa;
}
h2 {
  font-size: 25px;
  text-align: center;
  color: #9090bb;
}
h3 {
  font-size: 25px;
  text-align: left;
  color: #9090bb;
}
p {
  color: #afafd1;
}
p2 {
  color: #afafd1;
}
p3 {
  color: #afafd1;
}
p4 {
  font-size: 12px;
  color: #76768d;
}
p5 {
  color: #afafd1;
}
p6 {
  color: #afafd1;
}
button {
  color: #181541;
}

#customFieldWrapper1, #customFieldWrapper2 {
  margin-top: 14px;
  /* hidden by default */
  display: none;
  }
#customFieldWrapper1.visible {
  display: block;
}
#customFieldWrapper2.visible {
  display: block;
}

#energyinput {
  margin-top: 7px;
  margin-bottom: 7px;
}